
h1{
	font-size: 40px;
	letter-spacing: 0.5rem;
	text-align: center;
	margin-top: 50px;
}
.maindiv{
	width: 70%;
	height: 400px;
	position: absolute;
	left: 20%;
	top: 25%;
	transform: translate(-50px,-50px);
	background-image: url("image/1.jpg");
	background-size: 100% 100%;
	box-shadow: 2px 4px 10px 10px black;
	animation: slider 8s infinite linear;
}

 @keyframes slider{
 	0%{background-image: url("image/1.jpg");  }
 	35%{ background-image: url("image/2.jpeg"); }
 	75%{ background-image: url("image/3.jpg"); }

}
